
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-user-form{
  padding: 100px;
  margin: 40px;
}

.login-option-div{
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
  padding-top: 30%;
}

body {
  background-image: url("images/background.jpg") !important;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}