
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-user-form{
  padding: 100px;
  margin: 40px;
}

.login-option-div{
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
  padding-top: 30%;
}

.nav_link:link {
  color: black;
  font-size: 1.3rem;
  line-height: 1.srem;
  text-decoration: none;
}


/* body {
  background-image: url("images/background.jpg") !important;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */


.band-display-image{
  width: 100px !important;
}

img{ max-width:100%;
}

.band-profile-div{
  padding: 50px;
}

.create-musician-form{
  padding: 80px;
}

.create-listing-form{
  padding: 100px !important;
}

.center-div-items {
  display: flex !important;
  justify-content: center !important;
}

body{
  background-color: lightblue !important;
}